//colors

$gris: #4d4d4d;
$verde: #12c6a8;
$rojo: #fc5555;
$azul: #3c67d3;
$gris-claro: #f1f2f2;
$gris-oscuro: #cccccc;



//font-family
$work: 'Work Sans', sans-serif;
$roboto: 'Roboto Slab', serif;
$bold: 600;

//weigth

$ligth: 300;
$bold: 700;


//font-size
$font-lead: 40px;
$font-lead-m: 10px;


$web-font: 14px;
$web-fontb: 12px;
