footer
  .logo
    img(src="assets/img/logo-blanco.png" alt="Logotipo Andanza")
  .dir
    p Tablaje Catastral No. 11480 <br>Carretera Mérida-Motul
  .tel
    p(style="color: white;") +52 (55)5284 0030
    
