nav.des
  .logo
    a(href="index.html")
      img(src="assets/img/logo.svg" alt="Paseo Andanza" )
  .links
    ul
      li 
        a(href="tiendas.html") Directorio de tiendas
        .liner
      li 
        a(href="promociones.html") Promociones
        .linea
      li 
        a(href="servicios.html") Servicios
        .linev
      li 
        a(href="eventos.html") Eventos
        .liner
      li 
        a(href="contacto.html") Ubicación y Contacto
        .linea
  .redes
    ul
      li 
        a(href="#")
          img(src="assets/img/facebook.svg" alt="Facebook Andanza")
      li
        a(href="#")
          img(src="assets/img/twiter.svg" alt="Twitter Andanza")
      li 
        a(href="#")
          img(src="assets/img/insta.svg" alt="Instagram Andanza")
      li 
        a(href="#")
          img(src="assets/img/youtube.svg" alt="Youtube Andanza")
nav.resp
  .ham
    .lineas
    .lineas
    .lineas
  .logo
    a(href="index.html")
      img(src="assets/img/logo.svg" alt="Paseo Andanza" )
  .links
    ul
      li 
        a(href="tiendas.html") Directorio de tiendas
        .liner
      li 
        a(href="promociones.html") Promociones
        .linea
      li 
        a(href="servicios.html") Servicios
        .linev
      li 
        a(href="eventos.html") Eventos
        .liner
      li 
        a(href="contacto.html") Ubicación y Contacto
        .linea
  .redes
    ul
      li 
        a(href="#")
          img(src="assets/img/facebook.svg" alt="Facebook Andanza")
      li
        a(href="#")
          img(src="assets/img/twiter.svg" alt="Twitter Andanza")
      li 
        a(href="#")
          img(src="assets/img/insta.svg" alt="Instagram Andanza")
      li 
        a(href="#")
          img(src="assets/img/youtube.svg" alt="Youtube Andanza")
