doctype
head
  title Paseo Andanza
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="format-detection" content="telephone=no")
  link(rel="icon" href="assets/img/favicon.png" type="image/x-icon")
  link(rel="stylesheet" type="text/css" href="assets/css/style.css")
  link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet")
body
  #home
    include partials/_nav.pug
    .top-home
      .leneas
        img(src="assets/img/lineas-01.svg" alt="Graficos Paseo Andanza")
      .hero
      .lead
        h1 El <span>Centro</span> de <span>toda la familia</span>
    .med-home
      .posts
        .post(style="background-image: url('assets/img/tienda.jpg'); background-position: center; background-size: cover;")
          .overlay
            a(href="tiendas.html") Directorio de tiendas
        .post(style="background-image: url('assets/img/post.jpg'); background-position: center; background-size: cover;")
          .overlay
            a(href="promociones.html") Promociones
        .post(style="background-image: url('assets/img/servicios.jpg'); background-position: center; background-size: cover;")
          .overlay
            a(href="servicios.html") Servicios
        .post(style="background-image: url('assets/img/evento.jpg'); background-position: center; background-size: cover;")
          .overlay
            a(href="eventos.html") Eventos
        .post(style="background-image: url('assets/img/verde.jpg'); background-position: center; background-size: cover;")
          .overlay
        .post(style="background-image: url('assets/img/evento.jpg'); background-position: center; background-size: cover;")
          .overlay
            a(href="contacto.html") Ubicación y Contacto
    .bottom-home
      .lead
        h1 Encuéntranos
      .mapa
        .
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1861.7124822232588!2d-89.5234712240365!3d21.055682599602495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f56784fbefce7dd%3A0x9236b8a059a3706d!2sMerida+-+Motul+11480%2C+Yucat%C3%A1n!5e0!3m2!1ses!2smx!4v1522876023864" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    include partials/_footer.pug
  script(src="assets/js/jquery.js")
  script(src="assets/js/script.js")
    
