doctype
head
  title Paseo Andanza
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="format-detection" content="telephone=no")
  link(rel="icon" href="assets/img/favicon.png" type="image/x-icon")
  link(rel="stylesheet" type="text/css" href="assets/css/style.css")
  link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet")
body
  #promociones
    include partials/_nav.pug
    .contenedor
      .lead
        h2 Promociones
      .text
        p A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
      .promociones
        img(src="assets/img/promo.jpg" alt="Promoción Andanza")
        img(src="assets/img/promo.jpg" alt="Promoción Andanza")
        img(src="assets/img/promo.jpg" alt="Promoción Andanza")
        img(src="assets/img/promo.jpg" alt="Promoción Andanza")
        img(src="assets/img/promo.jpg" alt="Promoción Andanza")
        img(src="assets/img/promo.jpg" alt="Promoción Andanza")
        
    include partials/_footer.pug
  script(src="assets/js/jquery.js")
  script(src="assets/js/script.js")
    
