doctype
head
  title Paseo Andanza
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="format-detection" content="telephone=no")
  link(rel="icon" href="assets/img/favicon.png" type="image/x-icon")
  link(rel="stylesheet" type="text/css" href="assets/css/style.css")
  link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet")
body
  #tiendas
    include partials/_nav.pug
    .lineass
      img(src="assets/img/lineas-tiendas-01.svg" alt="Andanza")
    .contenedor
      .directorio-lead
        h2 Directorio de Tiendas
      .directorio
        .left
          .categoria
            h3 Food Court
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
          .categoria
            h3 Food Court
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
        .center
          .categoria
            h3 Food Court
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678  
                
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
          .categoria
            h3 Food Court
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678  
                
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678    
          .categoria
            h3 Food Court
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
          
        .rigth
          .categoria
            h3 Food Court
            .tienda
              .simbolo
                .linea-h
                .linea-v
              p 100% Fresco y Mexicano
              .info
                p <strong>Horario:</strong> 08:00am-10:00pm
                p <strong>Sitio web:</strong> www.burgerking.com
                p <strong>E-mail:</strong> contacto@burgerking.com
                p <strong>Tel.</strong> (55)1234 5678
          
      
    include partials/_footer.pug
  script(src="assets/js/jquery.js")
  script(src="assets/js/script.js")
